*:not(code) {
  box-sizing: border-box;
  margin: 0;
  font-family: 'EB Garamond', serif;
}

.tabs {
  padding: 20px 0 0 0;
}

.tab-list {
  border-bottom: 1px solid #d99923;
  padding-left: 0;
  text-align: center;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #d99923;
  border-width: 2px 2px 0 2px;
  border-radius: 8px 8px 0 0;
  background-color: #f2d7b6;
}

.tab-content {
  background-color: #f2d7b6;
  height: 94vh;
  padding: 5px;
}